<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Interactive cost-carbon space of 2014 light-duty vehicles in the U.S. market</title>
    <meta name="description" content="Interactive cost-carbon curve (alpha)">
    <link rel="stylesheet" href="{{ url_for('static', filename='cars/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cars/css/svg.css') }}">
  </head>
  {% raw %}
  <body ng-app="interactiveCostCarbonApp" ng-cloak>

      <div id="app" ng-controller="mainCtrl">

        <div id="headerbar">
            <div id="headerbar-innerwrapper">
                <div id="headerbar-logo">
                    <span id="logo-title">My<span style="color: #a8df66;">Green</span>Car</span> <span id="logo-version">– 0.2.0</span>
                </div>

                <div id="headerbar-controlmenu">
                    <a id="touchcontrol" ng-class="getControlMode() == 'touch' ? 'active' : ''" ng-click="setControlMode('touch')">Touch control</a>
                    <a id="mousecontrol" ng-class="getControlMode() == 'mouse' ? 'active' : ''" ng-click="setControlMode('mouse')">Mouse control</a>
                    <a id="reset-all" ng-click="resetAll()" title="Reset all parameters"></a>
                </div>

                <!--<div id="headerbar-startmenu" ng-repeat="settingGroup in settings | filter: { showIf: 'control' }">
                    <span ng-repeat="setting in settingGroup.settings">
                        <select ng-if="setting.isSelect" ng-model="setting.value" ng-options="option.key as option.title group by option.group for option in setting.options"></select>
                    </span>
                </div>-->

                <!-- Todo: look at ng active or something (error class, active class?) -->
                <div id="headerbar-menu">
                    <a ng-class="tab == 'legend' ? 'active' : ''" ng-click="changeTab('legend')">Main Panel</a>
                    <a ng-class="tab == 'settings' ? 'active' : ''" ng-click="changeTab('settings')">Custom Parameters</a>
                    <a ng-class="tab == 'about' ? 'active' : ''" ng-click="changeTab('about')">Credits</a>
                </div>
            </div>
        </div>

        <aside id="interface-bar">

            <div class="group" ng-show="tab == 'legend'" style="padding-top: 20px; padding-bottom: 5px;">

                <div id="tourbox_marker_xaxis" class="tourbox_marker" ng-if="tour.index == 3" ng-style="{top: (appDim.height-40)+'px', width: (appDim.width-87)+'px'}"></div>
                <div id="tourbox_marker_yaxis" class="tourbox_marker" ng-if="tour.index == 3" ng-style="{height: (appDim.height-100)+'px'}"></div>

                <div id="tourbox" ng-class="tour.active == true ? 'active' : ''">
                    <div id="tourbox_clickbox" ng-click="toggleTour()" ng-show="tour.active == false"></div>
                    <a id="tourbox_icon" ng-click="toggleTour()"></a>
                    <span id="tourbox_header" ng-click="toggleTour()">{{tour.title}}</span>
                    <span id="tourbox_progress"><span id="tourbox_progress_inner" ng-style="{width: (tour.index-1)*100/(tour_data.length-2)+'%'}"></span></span>
                    <a id="tourbox_prev" ng-click="tourPrev()" ng-show="tour.index > 1">&lt; Previous</a>
                    <a id="tourbox_next" ng-click="tourNext()" ng-show="tour.index < tour_data.length - 1">Next &gt;</a>
                    <span class="tourbox_text" ng-if="tour.index == 1">This tour will take your through the basics of the MyGreenCar web app. <span class="highlight">To start, click the 'Next &gt;' button</span> below.</span>
                    <span class="tourbox_text" ng-if="tour.index == 2">The plot area on the left shows many of the most popular new car models sold in the U.S. in 2014, and some even future ones (such as the Tesla Model 3). Some cars are shown more than once, with different trims. You can <span class="highlight">move your mouse (touch control mode: finger) over each point</span> to get information on the respective car. The car <span class="highlight">colors</span> represent different technologies, as indicated by the legend below. The <span class="highlight">shaded areas</span> encompass all cars of a given technology.</span>
                    <span class="tourbox_text" ng-if="tour.index == 3">The <span class="highlight">x axis</span> represents the combined costs of the vehicle purchasing price (minus federal tax refunds where applicable), fuel or charging costs, and regular maintenance costs, broken down on each mile driven. The <span class="highlight">y axis</span> represents the greenhouse gas emissions per mile driven, including emissions from the production and distribution of the fuel and of the car itself.</span>
                    <span class="tourbox_text" ng-if="tour.index == 4">In the lower area of the chart, you will notice some <span class="highlight">horizontal lines</span>. These represent <span class="highlight">greenhouse gas emission targets</span> that are estimated to be consistent with the goal of limiting the global mean temperature increase to 2°C. Moving your mouse (touch control mode: finger) over a target will tell you which year it corresponds to.</span>
                    <span class="tourbox_text" ng-if="tour.index == 5">The result you see on the left corresponds to the <span class="highlight">default parameter values</span>. The default parameter values are set to represent the <span class="highlight">average U.S.</span> driving behavior, the average U.S. electricity mix, and 10-year average fuel and electricity prices for the U.S.</span>
                    <span class="tourbox_text" ng-if="tour.index == 6">We note that <span class="highlight">all cars with alternative powertrains emit less</span> than their gasoline combustion engine counterparts. The emission savings can be 30% and more. However, <span class="highlight">no car reaches the 2040 target</span>. We also see that electric vehicles are not more expensive, and sometimes even cheaper, than gasoline powered cars. This is in part because of federal tax refunds of up to $7,500 per car, and in part because <span class="highlight">electric vehicles have low fuel and maintenance costs</span>.</span>
                    <span class="tourbox_text" ng-if="tour.index == 7">With the <span class="highlight">current (May 2016), relatively low gasoline and diesel prices</span>, gasoline powererd cars looks slightly better in comparison when compared to hybrid and electric cars. The difference compared to the default values is not that large, however. Tipp: switch back between 10-year average and current fuel prices by using the 'Previous' and 'Next' buttons below.</span>
                    <span class="tourbox_text" ng-if="tour.index == 8">The average kWh produced in California emits less than half of the greenhouse gas emissions than the average kWh in the U.S., and it shows. If we apply a <span class="highlight">relatively clean electricity mix</span>, such as the one found in California, the advantage in emissions of electric vehicles becomes much larger. <span class="highlight">Electric vehicles now surpass the 2040 target</span>.</span>
                    <span class="tourbox_text" ng-if="tour.index == 9">Back to the <span class="highlight">default values</span>, for now.</span>
                    <span class="tourbox_text" ng-if="tour.index == 10">In addition to the federal tax refunds for plug-in hybrids and electric vehicles, we can simulate a best-case scenario for electric vehicles by adding <span class="highlight">state tax refunds</span>, which are available in some states. Here, we add those of <span class="highlight">California</span>. Electric vehicles are now substantially cheaper than their combustion engine counterparts.</span>
                    <span class="tourbox_text" ng-if="tour.index == 11">Once we <span class="highlight">turn off the federal tax refunds</span> that can be found on electric vehicles, they become substantially more expensive. Some specific electric vehicles, such as the Nissan Leaf, however, are still comparable in price compared to vehicle of the same class, even without any refunds. Again, this is because <span class="highlight">electric vehicles have very low operational (fuel and maintenance) costs</span>.</span>
                    <span class="tourbox_text" ng-if="tour.index == 12">To verify that, we can <span class="highlight">filter</span> cars such that <span class="highlight">only compact cars</span> (not including compact SUVs or pickups) remain fully visible.</span>
                    <span class="tourbox_text" ng-if="tour.index == 13">This concludes the introductory tour. Was that fun? <span class="highlight">Go to the 'Custom Parameters' tab and start playing around</span> with the different parameters yourself!</span>
                </div>

            </div>

            <div class="group" ng-show="tab == 'legend'" style="padding-bottom: 5px;">

                <h1>Search for a Car</h1>

                <input ng-model="search" type="text" style="margin-bottom: 5px; width: 150px;">
                <span id="clear-search" ng-show="showList()" ng-click="clearSearch()">X</span>

                <div ng-show="showList()">
                    <p class="quicksetting-paragraph" ng-repeat="item in vehicleList | filter:search" ng-click="highlight(item.id)">{{item.name}}</p>
                </div>

            </div>

            <div class="group" ng-show="uiInfo.highlightedCars.length && tab == 'legend'" style="padding-bottom: 5px;">

                <h1>Highlighted Cars</h1>

                <p class="highlighted-car-entry" ng-repeat="car in uiInfo.highlightedCars" ng-mouseover="highlightDot(car.id)" ng-mouseleave="dehighlightDot(car.id)">
                    <span class="highlighted-dot">{{car.index}}</span> {{car.make}} {{car.model}} {{car.suffix}} {{car.trim}} ({{car.powertrain}})
                    <span class="highlighted-clear" ng-click="highlight(car.id)">X</span>
                </p>

            </div>

            <div class="group" ng-show="uiInfo.legend.length && tab == 'legend'" style="padding-bottom: 5px;">

                <h1>Legend</h1>

                <p ng-repeat="legendEntry in uiInfo.legend" class="legend-entry" ng-class="legendEntry.highlight == true ? 'active' : ''" ng-mouseover="highlightHull(legendEntry.id)" ng-mouseleave="dehighlightHull(legendEntry.id)">
                    <span class="legend-dot" style="background-color: {{legendEntry.color}};"></span> {{legendEntry.text}}
                </p>

            </div>

            <!--<div class="group" ng-show="quickSettings && tab == 'settings'" style="padding-bottom: 5px;">

                <h1>Quick Apply Background Conditions</h1>

                <p class="quicksetting-paragraph" ng-repeat="quickSetting in quickSettings" ng-click="applyQuickSettings(quickSetting.key)"> {{quickSetting.title}} </p>

            </div>-->

            <div class="group" ng-repeat="settingGroup in settings | filter: { showIf: tab }">

                <h1>{{settingGroup.title}}</h1>

                <div class="interface-group" ng-repeat="setting in settingGroup.settings">
                    <span class="config-title">{{setting.title}} <span ng-if="setting.isSlider" class="config-unit"><br>in {{setting.unit}}</span></span>
                    <span class="additional-info-wrapper" ng-if="setting.help">
                        <span class="additional-info-inner-wrapper">
                            <span class="additional-info-icon">?</span>
                            <span class="additional-info-text">{{setting.help}}</span>
                        </span>
                    </span>
                    <select ng-if="setting.isSelect" ng-model="setting.value" ng-options="option.key as option.title group by option.group for option in setting.options"></select>
                    <input ng-if="setting.isSlider" type="text" ng-model="setting.value" size="4"></input>
                    <div ng-if="setting.isSlider" class="config-slider" setting="setting"></div>
                </div>

            </div>

            <div ng-show="tab == 'about'" id="credits_tab">

                <h1>Credits</h1>

                <p>MyGreenCar was created by Marco Miotti, Geoffrey J. Supran, and Jessika E. Trancik at the <a href="http://trancik.mit.edu">MIT Trancik Lab</a>, based on reference [1].</p>

                <p>Programming and app design by <a href="http://marco.miotti.me">Marco Miotti</a> using <a href="https://angularjs.org/">AngularJS</a> and <a href="https://d3js.org/">D3</a>.</p>

                <p>Vehicle specifications obtained from manufacturer websites and cars.com.</p>

                <!--<p>Information provided on this website are provided "as is" without warranty of any kind.</p>-->

                <p>Details on the calculation of costs, greenhouse gas emissions, and emission targets can be found in the Supporting Information of reference [1].</p>

                <p>[1]: M. Miotti, G.J. Supran, E.J. Kim, J.E. Trancik, Environmental Science &amp; Technology, 2016.</p>

            </div>

        </aside>

        <div id="main">
            <cost-carbon-space></cost-carbon-space>
        </div>

      </div>

    </div>
    {% endraw %}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>-->
    <script src="{{ url_for('static', filename='cars/scripts/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/app.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/d3Service.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/customizable/calculateResults.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/customizable/getConfigOptions.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/customizable/getCsvList.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/customizable/processCsvData.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/customizable/colorsAndStyles.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/convexHullService.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/d3PlotService.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/d3SliderService.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/configService.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/services/dataService.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/controllers/mainCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/directives/costCarbonSpace.js') }}"></script>
    <script src="{{ url_for('static', filename='cars/scripts/directives/configSlider.js') }}"></script>

  </body>
</html>