<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Marco Miotti - Personal Website</title>
    <meta name="description" content="The personal website of Marco Miotti, PhD student at the MIT Institute for Data, Systems, and Society.">
    <link rel="stylesheet" href="{{ url_for('static', filename='page/css/main.css') }}">
  </head>
  <body>

      <div id="box">
      	<p><strong>Marco Miotti</strong><br>PhD Student in Engineering Systems<br>Institute for Data, Systems, and Society<br>Massachusetts Institute of Technology</p>
      	<p><a href='&#109;ai&#108;to&#58;&#37;6Darc%6F&#64;&#109;io&#37;7&#52;ti&#46;m&#37;65'>marco&#64;m&#105;&#111;tti&#46;&#109;e</a></p>
      </div>

  </body>
</html>